/* miscresearch website by felix taylor */
/* global */
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
  cursor: pointer;
}

/* floating content */
header img {
display: none;
visibility: hidden;
}

.button-wrapper {
display: none;
}

.button {
display: none;
}

.button img {
  max-width: 50px;
}

.button:hover {
  border-color: blue;
}

.countdownButton {
display: none;
}

/*countdown*/
#countdown1 {
display: none;
}

#countdown1:active {
  border-color: blue;
}

#countdown1:hover {
  cursor: pointer;
}

#countdown2 {
display: none;
}

#countdown2:active {
  border-color: blue;
}

#countdown2:hover {
  cursor: pointer;
}

#countdown3 {
  z-index: 3;
  display: none;
  position: fixed;
  border-radius: 20px;
  width: 560px;
  height: 315px;
  padding: 20px;
  right: 200px;
  bottom: 90px;
  background-color: white;
  border: 1px solid black;
  touch-action: none;
  user-select: none;
}

#countdown3:active {
  border-color: blue;
}

#countdown3:hover {
  cursor: pointer;
}

/* background-site aka iframe */
#background-site {
display: none;
}

#background-site iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: scroll;
}

#background-site {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

#mobile {
  max-width: 600px;
  z-index: 5;
  display: block;
  background-color: white;
  padding: 2rem;

}
